body
    {
    font-family: monospace;
    }

#LettersContainer td
    {
    font-size: 40px;
    text-align: center;
    padding: 5px 10px;
    }

.button.selected
    {
    color: rgba(237, 24, 21, 0.79);
    }

.alreadyUsed
    {
    opacity: 0.2;
    }

.letterSet
    {
    font-weight: bold;
    color: rgb(67, 87, 176);
    }

.button
    {
    cursor: pointer;
    margin: 0 10px;
    }

.buttonNotAvailable
    {
    cursor: default;
    opacity: 0.2;
    }

.button:hover
    {
    background-color: rgba(143, 210, 163, 0.60);
    }

#Menu .button
    {
    padding: 2px 20px;
    }

#Menu
    {
    -webkit-user-select: none;
    user-select: none;
    }

#MessageContainer > *
    {
    text-align: center;
    display: inline-block;
    margin: 0;
    font-size: 20px;
    }

#MessageContainer .MessageSpace
    {
    width: 30px;
    }

body > *
    {
    margin: 30px;
    }

.hidden
    {
    display: none;
    }

#LoadingMessage
    {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    }